@media all and (max-width:1350px) {
    .fixed-with {

        width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    
    }
}
@media (max-width:1200px){
    .header-right{
        padding-right: 20px;
    }
}
@media all and (max-width:1024px){
    .header-right{
        width: 100%;
        text-align: center;
    }
    .header-left{
        width: 100%;
        text-align: center;
    }
    .header-left ul{
        text-align: center;
    }
}
@media (max-width:1150px){
    .header-right ul{
        text-align: center;
        margin-left: -30px;
    }
    .header-right ul li a {
        border: none;
    }
    .header-left img {
        margin-left: -70px;
    }
}